.albuns__controler{
    width: 100%;
    
    font-family: var(--font-family);
}
.albuns__controler .title{
    width: 100%;
    max-width: var(--container);

    margin: var(--spacing) auto;
}
.albuns__controler .title{

}

.albuns__container{
    width: 100%;
    max-width: var(--container);

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;

    gap: var(--spacing);
}
.albuns__container .album{
    display: flex;
    flex-direction: column;

    gap: 1rem;

    border-radius: var(--radius-1);

    background-color: var(--color-grey-8);
}
.albuns__container .album .capa{

}
.albuns__container .album .capa figure{
    width: 22.5rem;
}
.albuns__container .album .capa figure img{
    width: 100%;
    
    border-radius: var(--radius-1) var(--radius-1) 0 0 ;
}
.albuns__container .album .capa .banda-ano{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-top: 1rem;

    margin: .6rem;
}
.albuns__container .album .capa .banda-ano figcaption{
    font-size: var(--font-3);
}
.albuns__container .album .infos{
    display: flex;
    flex-direction: column;

    margin: 0 .6rem;
}
.albuns__container .album .infos h3{
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
}
.albuns__container .album .infos div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
.albuns__container .album .infos div > span{
    font-size: var(--font-3);
}
.albuns__container .album .infos div > span > button{
    font-size: var(--font-3);
}